In [58]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB  
from sklearn.datasets import make_classification
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import (
    accuracy_score,
    confusion_matrix,
    ConfusionMatrixDisplay,
    f1_score,
    classification_report
)

In [3]:
import pandas as pd
data = pd.read_csv('play_tennis.csv')
data = data.drop("day",axis=1)
display(data)

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

In [32]:
lb  = LabelEncoder()
lb.fit(['outlook','temp','humidity','wind'])
LabelEncoder()

LabelEncoder()

In [39]:
for i in data.columns:
    data[i] = lb.fit_transform(data[i])

In [40]:
x=data.drop("play",axis=1)
y= data['play']
display(x.head())

   outlook  temp  humidity  wind
0        2     1         0     1
1        2     1         0     0
2        0     1         0     1
3        1     2         0     1
4        1     0         1     1

In [41]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=1)

In [42]:
display(x_train)
display(y_train)
display(x_test)
display(y_test)

    outlook  temp  humidity  wind
2         0     1         0     1
10        2     2         1     0
4         1     0         1     1
1         2     1         0     0
12        0     1         1     1
0         2     1         0     1
13        1     2         0     0
9         1     2         1     1
8         2     0         1     1
11        0     2         0     0
5         1     0         1     0

2     1
10    1
4     1
1     0
12    1
0     0
13    0
9     1
8     1
11    1
5     0
Name: play, dtype: int32

   outlook  temp  humidity  wind
3        1     2         0     1
7        2     2         0     1
6        0     0         1     0

3    1
7    0
6    1
Name: play, dtype: int32

In [48]:
model = GaussianNB ()
model.fit(x_train,y_train)
predicted = model.predict(x_test)
display(predicted)

array([1, 1, 1])

In [56]:
accuary = accuracy_score(predicted,y_test)
display(accuary)
f1 = f1_score(predicted,y_test,average='weighted')
display(f1)

0.6666666666666666

0.8000000000000002

In [76]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, f1_score


data = pd.read_csv('play_tennis.csv')


X = data.drop(columns=['play'])
y = data['play']
display(X)

    day   outlook  temp humidity    wind
0    D1     Sunny   Hot     High    Weak
1    D2     Sunny   Hot     High  Strong
2    D3  Overcast   Hot     High    Weak
3    D4      Rain  Mild     High    Weak
4    D5      Rain  Cool   Normal    Weak
5    D6      Rain  Cool   Normal  Strong
6    D7  Overcast  Cool   Normal  Strong
7    D8     Sunny  Mild     High    Weak
8    D9     Sunny  Cool   Normal    Weak
9   D10      Rain  Mild   Normal    Weak
10  D11     Sunny  Mild   Normal  Strong
11  D12  Overcast  Mild     High  Strong
12  D13  Overcast   Hot   Normal    Weak
13  D14      Rain  Mild     High  Strong

In [80]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=1)

total_samples = len(X_train)
play_yes_count = sum(1 for label in y_train if label == 'Yes')
play_no_count = sum(1 for label in y_train if label == 'No')
prior_play_yes = play_yes_count / total_samples
prior_play_no = play_no_count / total_samples

display("the total values of X-Train:",total_samples)
display("the count of the yes:",play_yes_count)
display("the count of the NO:",play_no_count)
display("the count of the Y/T:",prior_play_yes)
display("the count of the N/T:",prior_play_no)

'the total values of X-Train:'

12

'the count of the yes:'

8

'the count of the NO:'

4

'the count of the Y/T:'

0.6666666666666666

'the count of the N/T:'

0.3333333333333333