##  naive_bayes using the inbulit function

In [58]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB  
from sklearn.datasets import make_classification
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import (
    accuracy_score,
    confusion_matrix,
    ConfusionMatrixDisplay,
    f1_score,
    classification_report
)

In [3]:
import pandas as pd
data = pd.read_csv('play_tennis.csv')
data = data.drop("day",axis=1)
display(data)

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

In [32]:
lb  = LabelEncoder()
lb.fit(['outlook','temp','humidity','wind'])
LabelEncoder()

LabelEncoder()

In [39]:
lb  = LabelEncoder()
lb.fit(['outlook','temp','humidity','wind'])
LabelEncoder()
for i in data.columns:
    data[i] = lb.fit_transform(data[i])

In [40]:
x=data.drop("play",axis=1)
y= data['play']
display(x.head())

   outlook  temp  humidity  wind
0        2     1         0     1
1        2     1         0     0
2        0     1         0     1
3        1     2         0     1
4        1     0         1     1

In [41]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=1)

In [42]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=1)
display(x_train)
display(y_train)
display(x_test)
display(y_test)

    outlook  temp  humidity  wind
2         0     1         0     1
10        2     2         1     0
4         1     0         1     1
1         2     1         0     0
12        0     1         1     1
0         2     1         0     1
13        1     2         0     0
9         1     2         1     1
8         2     0         1     1
11        0     2         0     0
5         1     0         1     0

2     1
10    1
4     1
1     0
12    1
0     0
13    0
9     1
8     1
11    1
5     0
Name: play, dtype: int32

   outlook  temp  humidity  wind
3        1     2         0     1
7        2     2         0     1
6        0     0         1     0

3    1
7    0
6    1
Name: play, dtype: int32

In [48]:
model = GaussianNB ()
model.fit(x_train,y_train)
predicted = model.predict(x_test)
display(predicted)

array([1, 1, 1])

In [56]:
accuary = accuracy_score(predicted,y_test)
display(accuary)
f1 = f1_score(predicted,y_test,average='weighted')
display(f1)

0.6666666666666666

0.8000000000000002

##  Navie_bayes using the user_defined functions

In [44]:
import pandas as pd

# Create a DataFrame with your dataset
data = pd.read_csv('play_tennis.csv')

df = pd.DataFrame(data)
display(df)
# Calculate counts for 'Yes' and 'No'
play_counts = df['play'].value_counts()

# Function to calculate probability for a given feature
def calculate_probability(feature):
    probabilities = {}
    for value in df[feature].unique():
        counts = df[df[feature] == value]['play'].value_counts()
        probabilities[value] = {
            'Yes': counts.get('Yes', 0) / play_counts['Yes'],
            'No': counts.get('No', 0) / play_counts['No']
        }
    return probabilities

outlook_pro = calculate_probability('outlook')


temp_pro  = calculate_probability('temp')


humidity_pro  = calculate_probability('humidity')

wind_pro  = calculate_probability('wind')

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [45]:
play_c = pd.DataFrame(play_counts) 
outlook = pd.DataFrame(outlook_pro)
temp = pd.DataFrame(temp_pro)
humidity = pd.DataFrame(humidity_pro)
wind = pd.DataFrame(wind_pro)
display(play_c)
display(outlook)
display(temp)
display(humidity)
display(wind)

     play
Yes     9
No      5

        Sunny  Overcast      Rain
Yes  0.222222  0.444444  0.333333
No   0.600000  0.000000  0.400000

          Hot      Mild      Cool
Yes  0.222222  0.444444  0.333333
No   0.400000  0.400000  0.200000

         High    Normal
Yes  0.333333  0.666667
No   0.800000  0.200000

         Weak    Strong
Yes  0.666667  0.333333
No   0.400000  0.600000

In [49]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import (
    accuracy_score,
    confusion_matrix,
    ConfusionMatrixDisplay,
    f1_score,
    classification_report
)

df = pd.DataFrame(data)
df_numerical = pd.get_dummies(df[['outlook', 'temp', 'humidity', 'wind']])

display(df_numerical)
df_final = pd.concat([df_numerical, df['play']], axis=1)
train_data, test_data = train_test_split(df_final,shuffle=False)
X_train = train_data.drop('play', axis=1)
y_train = train_data['play']


X_test = test_data.drop('play', axis=1)
y_test = test_data['play']
model = DecisionTreeClassifier()
model.fit(X_train, y_train)


y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

f1 = f1_score(y_pred,y_test,average='weighted')
display(f1)
display("the acutal values:",y_test)
print("the predicted values:",y_pred)

,outlook_Overcast,outlook_Rain,outlook_Sunny,temp_Cool,temp_Hot,temp_Mild,humidity_High,humidity_Normal,wind_Strong,wind_Weak
0,0,0,1,0,1,0,1,0,0,1
1,0,0,1,0,1,0,1,0,1,0
2,1,0,0,0,1,0,1,0,0,1
3,0,1,0,0,0,1,1,0,0,1
4,0,1,0,1,0,0,0,1,0,1
5,0,1,0,1,0,0,0,1,1,0
6,1,0,0,1,0,0,0,1,1,0
7,0,0,1,0,0,1,1,0,0,1
8,0,0,1,1,0,0,0,1,0,1
9,0,1,0,0,0,1,0,1,0,1
10,0,0,1,0,0,1,0,1,1,0
11,1,0,0,0,0,1,1,0,1,0
12,1,0,0,0,1,0,0,1,0,1
13,0,1,0,0,0,1,1,0,1,0

Accuracy: 0.75

0.7333333333333334

'the acutal values:'

10    Yes
11    Yes
12    Yes
13     No
Name: play, dtype: object

the predicted values: ['No' 'Yes' 'Yes' 'No']